.card {
  font-family:Arial, Helvetica, sans-serif;
  display:flex;
  flex-wrap:wrap;
  border: 1px solid black;
  margin:5px; 
  width: 60%;
}

.card .card-image{
    width: fit-content;
    padding: 5px;
}

.card .card-text {
  width: fit-content;
  margin-top: 5px;
}

.card .card-text p {
  margin: 2px;
}

.random-box {
  border: 1px solid black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 45%;
  margin-bottom: 5px; 
}

.random-box p {
  padding-left: 10px;
  padding-right: 10px;
}
